* {
  box-sizing: border-box;
}
body {
  height: 200vh;
}

:root {
  --background-blue: hsl(200, 100%, 50%);
  --background-black: hsl(221, 41%, 7%);
  --background-White: white;
  --opacity: 0.7;
}

/* header content */
/* .header-content {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  height: 300px;
  max-height: 600px;
  padding: 30px 10px;
  margin-bottom: 0;
  margin-right: 0;
} */

/* @media screen and (max-width: 900px) {
  .header-content {
    flex-wrap: wrap;
    height: auto;
    max-width: none;
  }
} */
/* .right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  flex: 2;
  margin-left: 0px;
  margin-right: 30px;
} */
/* .left-content {
  display: flex;
  padding: 20px;
  height: auto;
  flex: 1;
  border-radius: 10px;
  background-color: hsl(221, 41%, 7%);
} */

/* .content-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.content-list li {
  display: flex;
  flex-wrap: wrap;
}
.left-content li a {
  display: block;
  padding: 10px;
  font-size: 12px;
  text-decoration: none;
  padding: 5px;
  border-radius: 8px;
  color: whitesmoke;
  transition: background-color 0.7s ease color 0.7s ease;
}

.left-content ul li a:hover {
  background-color: #e0e0e0;
  color: #1e1e1e;
} */

/* main contents */
/* header {
  padding: 0 30px;
  text-align: right;
} */

/* header h1 {
  margin: 0;
}

header p {
  display: none;
  margin: 5px 0 0;
} */

article {
  max-width: 900px;
  margin: 0 auto;
}
.styled-code {
  display: flex;
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow-x: auto;
  margin: 10px 0;
}

.styled-code code {
  font-family: "Courier New", monospace;
  font-size: 14px;
  line-height: 1.2;
  color: #d4d4d4;
}

.styled-code .line {
  display: block;
}

.styled-code .selector {
  color: #d7ba7d;
}

.styled-code .property {
  color: #9cdcfe;
  margin-left: 40px;
}

.styled-code .value {
  color: #ce9178;
}

.styled-code .punctuation {
  color: #d4d4d4;
}
.styled-code .selector,
.styled-code .property,
.styled-code .value,
.styled-code .punctuation {
  display: inline;
}

.styled-code code {
  font-family: "Courier New", monospace;
  font-size: 14px;
  color: #d4d4d4;
  white-space: nowrap;
}

.styled-code .line {
  margin: 10px;
  display: block;
}

.styled-code .line span {
  display: inline;
}

.welcome-section {
  margin-top: 0;
  margin-bottom: 30px;
}

.titles {
  margin: 20px 0;
}
.read-more {
  font-size: 18px;
  text-decoration: none;
  text-underline-offset: 0.08em;
  color: var(--background-blue);
  font-weight: 400;
  text-align: center;
  gap: 0.5rem;
  transition: all 0.5;
}

.read-more:hover {
  text-decoration: underline;
}

.break {
  padding: 5px;
  background-color: var(--background-blue);
  margin-bottom: 10px;
}

.card__tags {
  overflow: auto;
  height: 50%;
}

.title {
  display: block;
  width: 100%;
  font-weight: 900;
  font-size: 1.7em;
  text-align: center;
}

.tag__name {
  display: inline-block;
  background-color: var(--background-blue);
  padding: 6px 23px 9px;
  border-radius: 70em;
  margin: 8px 6px 8px 10px;
  margin-left: 0px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.tag__name a {
  text-decoration: none;
  color: var(--background-White);
  font-size: 1.1em;
  text-transform: lowercase;
}
.tag__name:hover {
  transform: scale(1.1);
  background-color: var(--background-black);
}

/*  */

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1rem;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  -webkit-hyphens: none;
  hyphens: none;
  line-height: 1.7;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

pre[class*="language-"] {
  overflow: auto;
  padding: 1rem;
}

code[class*="language-"] {
  padding-top: 3px;
}

:not(pre) > code[class*="language-"] {
  border-radius: 0.3rem;
  padding: 0.1rem;
  white-space: normal;
}

pre.highlight:not(.language-bash) + .toolbar {
  display: none;
}
pre {
  background-color: #1e293b;
}

/* toggle */
.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.toggle {
  margin-right: 2px;
  margin-top: 5px;
}
.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert {
  display: block;
}

.dark-preview {
  background: var(--background-color);
}

.white-preview {
  background: var(--background-color);
}

.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn-container i {
  display: inline-block;
  position: relative;
  top: -9px;
}

label {
  font-size: 13px;
  color: #424242;
  font-weight: 500;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 140px;
  height: 30px;
  background: #e0e0e0;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 7px;
  right: 20px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 70px;
  height: 16px;
  background: #fff;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
}

.btn-color-mode-switch > .alert {
  display: none;
  background: #ff9800;
  border: none;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner {
  background: #151515;
  color: #fff;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 68px;
  background: #3c3c3c;
}
