body {
  overflow-x: hidden;
}

.toggle {
  margin: 20px;
  display: flex;
  margin-right: 0px;
  justify-content: flex-end;
  align-items: flex-end;
}
:root {
  --color: hsl(221, 14%, 71%);
}
main {
  max-width: 100%;
  margin: 0;
  padding: 0 400px;
  overflow-x: hidden;
  display: grid;
  place-content: center;
}

header {
  background-color: var(--background-orange);
  margin: 0 10px;
}
header h1 {
  text-align: center;
  color: var(--color);
}
@media screen and (max-width: 1300px) {
  main {
    padding: 10px 20px;
    margin: 20px 0;
  }
}
.video-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 20px;
  border: 2px solid var(--background-orange);
  margin: 30px 0;
  padding: 10px 0;
}
.video {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f9f9f9;
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.video iframe {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.video span {
  display: block;
  font-weight: bold;
  font-size: 16px;
}
.video p {
  margin: 10px 0 0 0;
  font-size: 14px;
}
